#telnet     stream tcp nowait root /bin/telnetd
#ssh     stream tcp nowait root /usr/bin/dropbear -r /etc/dropbear_rsa_host_key -F -i
#ftp     stream tcp nowait root /usr/bin/ftpd -l
#advent4 stream tcp nowait root /sbin/advent4
#dungeon stream tcp nowait root /usr/games/dungeon
#netbios-ssn stream tcp nowait root /usr/bin/smbd -F
#netbios-ns dgram udp wait root /usr/bin/nmbd -F
